<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>IMDB: Top 5 Episodes</h2>
    <table style="width: 100%; border: solid;">
        <thead>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
        </thead>
        <tbody>
            <tr th:object= "${first}">
                <td th:text = "*{title}"></td>
                <td th:text = "*{episode}" ></td>
                <td th:text = "*{rating}"></td>
            </tr>
            <tr th:object= "${second}">
                <td th:text = "*{title}"></td>
                <td th:text = "*{episode}" ></td>
                <td th:text = "*{rating}"></td>
            </tr>
            <tr th:object= "${third}">
                <td th:text = "*{title}"></td>
                <td th:text = "*{episode}" ></td>
                <td th:text = "*{rating}"></td>
            </tr>
            <tr th:object= "${fourth}">
                <td th:text = "*{title}"></td>
                <td th:text = "*{episode}" ></td>
                <td th:text = "*{rating}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>